<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@todo.title%>
	</h1>
</div>

<form title="Edit Todo" 
	  class="panel" 
	  id="todo_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@todo.object%>"/>
		
		  <div class="row">
			  <label>Title: </label>
			  <input type="text" name="todo[title]" value="<%=@todo.title%>"/>
		  </div>
		
		  <div class="row">
			  <label>Description: </label>
			  <input type="text" name="todo[description]" value="<%=@todo.description%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @todo.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>