<div id="pageTitle">
	<h1>Edit <%=@todo.title%></h1>
</div>

<div id="toolbar">
  <div id="row">
      <div id="leftItem" class="backButton">
        <a href="<%= url_for( :action => :index) %>">Cancel</a>
      </div>
      <div id="rightItem" class="regularButton">
        <a href="<%=url_for(:action => :delete, :id => @todo.object)%>">Delete</a>
      </div>
  </div>
</div>

<div id="content">
    <form title="New Todo" id="todo_edit_form" method="POST" action="<%=url_for(:action => :update, :id => @todo.object)%>">
        <fieldset>
            <input type="hidden" name="id" value="<%=@todo.object%>"/>
            <div class="form_list">
                <ul>
                    <li>
                        <span class="label">Title</span>
                        <input type="text" name="todo[title]" class="textInput" value="<%=@todo.title%>"/>
                    </li>
                    <li>
                        <span class="label">Description</span>
                        <input type="text" name="todo[description]" class="textInput" value="<%=@todo.description%>"/>
                    </li>
                  <li>
                        <span class="label">Checkbox</span>
                        <input type="checkbox" name="todo[description]" class="checkbox"/>
                    </li>
                    <li>
                        <span class="label">Radio Buttons</span>
                        <input type="radio" name="todo[description]" class="radioButton"/>
                    </li>
                    <li>
                        <select name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </li>
                    <li>
                        <span class="label">Text Area</span>
                        <textarea rows="5" cols="15">The cat was playing in the garden.</textarea>
                    </li>
                </ul>
            </div>
        </fieldset>

      <button class="updateButton" type="submit">Update</button>
    </form>
</div>