<div id="pageTitle">
	<h1>New <%=@todo.title%></h1>
</div>

<div id="toolbar">
  <div id="row">
      <div id="leftItem" class="backButton">
        <a href="<%= url_for( :action => :index) %>">Cancel</a>
      </div>
  </div>
</div>
<div id="content">
        <form title="New Todo"
              method="POST"
              action="<%=url_for(:action => :create)%>">
            <fieldset>
                <input type="hidden" name="id" value="<%=@todo.object%>"/>
                <div class="form_list">
                    <ul>
                        <li>
                            <span class="label">Title</span>
                            <input type="text" placeholder="Enter Text" name="todo[title]" class="textInput" value="<%=@todo.title%>"/>
                        </li>
                        <li>
                            <span class="label">Description</span>
                            <input type="text" placeholder="Enter Text" name="todo[description]" class="textInput" value="<%=@todo.description%>"/>
                        </li>
                    </ul>
                </div>
            </fieldset>
          
          <button class="createButton" type="submit">Create</button>
        </form>
</div>