<div id="pageTitle">
	<h1><%=@todo.title%></h1>
</div>

<div id="toolbar">
    <div id="row">
        <div id="leftItem" class="backButton">
            <a href="<%= url_for( :action => :index) %>">Back</a>
        </div>
        <div id="rightItem" class="regularButton">
            <a href="<%= url_for(:action => :edit, :id => @todo.object) %>">Edit</a>
        </div>
    </div>
</div>

<div id="content">
    <div class="form_list">
        <ul>
            <li>
                <span class="label">Title</span>
                <span class="gridItem"><%= @todo.title %></span>
            </li>
            <li>
                <span class="label">Description</span>
                <span class="gridItem"><%= @todo.description %></span>
            </li>
        </ul>
    </div>
</div>